{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ program.year }}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <strong>Acteurs de la série :</strong>
    <ul>
        {% for actor in program.actors %}
            <li><a href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('program_edit', {'slug': program.slug}) }}">Edit program</a>
        <br><br>
        {{ include('program/_delete_form.html.twig') }}
    {% endif %}
    <br><br>
    <a href="{{ path('program_index') }}">Retour à la liste des séries</a>
{% endblock %}
