{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
        <h1>Liste des catégories :</h1>
        {% for category in categories %}
        <ul>
            <li><h2>{{ category.name }}</h2></li>
        </ul>
        {% endfor %}

    <div>
        <a href="{{ path('add_category') }}">Ajouter une catégorie</a>
    </div>
    <h1>Les 3 dernières séries de la catégorie {{ categoryName }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}