{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
    <h1>Actor index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            {#<th>actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.name }}</td>
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}">Show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('actor_new') }}">Create new</a>
    {% endif %}
    <br><br>
    <a href="{{ path('program_index') }}">Retour à la liste des séries</a>
{% endblock %}