{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ actor.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ actor.name }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <strong>Séries associées à cet acteur :</strong>
    <ul>
        {% for program in actor.programs %}
            <li><a href="{{ path('program_show', {'id': program.id}) }}">{{ program.title }}</a></li>
        {% else %}
            <li>Aucune série pour cet acteur</li>
        {% endfor %}
    </ul>

    {#<a href=" ">Edit actor</a>#}

    <br><br>
    <a href="{{ path('actor_index') }}">Retour à la liste des acteurs</a>
{% endblock %}