{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur Wildseries !</h1>
    <a href="{{ path('program_index') }}">Liste des séries</a>
    <br><br>
    <a href="{{ path('season_index') }}">Liste des saisons</a>
    <br><br>
    <a href="{{ path('episode_index') }}">Liste des épisodes</a>
    <br><br>
    <a href="{{ path('actor_index') }}">Liste des acteurs</a>
    <br><br><br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>
    <br><br>
    <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
        Testing show() method from WildController with a real program's slug.
    </a>
    <br><br>
    <a href="{{ path('show_category', { 'categoryName': "horreur" }) }}">
        Testing showByCategory() method from WildController with a real category's name.
    </a>
{% endblock %}
